<ion-header>
  <ion-toolbar>
    <ion-title>
      Announcement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/img1.jpeg" />
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>MAICCI wants Govt to reconsider foreign worker levy</h2>
        <h4>12 Aug 2018</h4>
        <p>PETALING JAYA: Reconsider the RM10,000 levy for skilled foreign workers, says the Malaysian Associated
          Indian Chambers of Commerce ...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/img2.jpeg" />
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Guan Eng: Back to original plan that employers pay full cost of RM10k</h2>
        <h4>2 Jul 2018</h4>
        <p>I want to make it clear, the levy for foreign workers who serve less than 10 ... The levy only applies to
          foreign workers in formal sectors such as ...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/img3.jpeg" />
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>Gov't may see RM1b gain from foreign worker extension fees</h2>
        <h4>1 June 2018</h4>
        <p>"Most of them were detained for using temporary foreign worker permit (PLKS) belonging to different
          companies,” Mustafar said when contacted ...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
