<ion-tabs>
  <ion-tab label="Payments" icon="cash" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Claims" icon="paper" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Timesheet" icon="clipboard" href="/tabs/(timesheet:timesheet)">
    <ion-router-outlet name="timesheet"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Announcement" icon="megaphone" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="person" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
