<ion-header>
  <ion-toolbar>
    <ion-title>New Timesheet</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item-divider>
      September 2018
    </ion-item-divider>
    <ion-item>
      <ion-label text-wrap>
        <h2>12 Sep 2018</h2>
        <h5>
          <ion-icon slot="start" name="pin"></ion-icon> Selayang
        </h5>
        <h6>
          <ion-icon slot="start" name="clock"></ion-icon> 11:00 - 12:00
        </h6>
      </ion-label>
      <div item-content slot="end">
        <h6>1 hour</h6>
      </div>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        <h2>10 Sep 2018</h2>
        <h5>
          <ion-icon slot="start" name="pin"></ion-icon> Ampang
        </h5>
        <h6>
          <ion-icon slot="start" name="clock"></ion-icon> 12:00 - 16:00
        </h6>
      </ion-label>
      <div item-content slot="end">
        <h6>4 hours</h6>
      </div>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        <h2>9 Sep 2018</h2>
        <h5>
          <ion-icon slot="start" name="pin"></ion-icon> KLCC
        </h5>
        <h6>
          <ion-icon slot="start" name="clock"></ion-icon> 17:00 - 19:00
        </h6>
      </ion-label>
      <div item-content slot="end">
        <h6>2 hours</h6>
      </div>
    </ion-item>
    <ion-item-divider>
      August 2018
    </ion-item-divider>
    <ion-item>
      <ion-label text-wrap>
        <h2>12 Aug 2018</h2>
        <h5>
          <ion-icon slot="start" name="pin"></ion-icon> Selayang
        </h5>
        <h6>
          <ion-icon slot="start" name="clock"></ion-icon> 11:00 - 12:00
        </h6>
      </ion-label>
      <div item-content slot="end">
        <h6>1 hour</h6>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content> -->


<ion-content>
  <ion-list>
    <ion-item-divider color="light">Timesheet Info</ion-item-divider>
    <ion-item>
      <ion-label position="fixed">Date</ion-label>
      <ion-label slot="end">13 Sep 2018</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">From</ion-label>
      <ion-label slot="end">09:30</ion-label>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">To</ion-label>
        <ion-label slot="end">13:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Duration</ion-label>
      <ion-label slot="end">4 hours</ion-label>
    </ion-item>
    <ion-item-divider color="light">Location</ion-item-divider>
    <img src="http://joomly.net/frontend/web/images/googlemap/map.png" class="image">
  </ion-list>
  <div padding>
    <ion-button expand="block">
      <ion-icon slot="start" name="add"></ion-icon>Add
    </ion-button>
  </div>
</ion-content>
