<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()"><ion-icon slot="icon-only" name="exit"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Type</ion-label>
      <ion-label slot="end">Business</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Person/Company Name</ion-label>
      <ion-label slot="end">ABC Sdn Bhd</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Reg. No.</ion-label>
      <ion-label slot="end">X-00992222</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Industry</ion-label>
      <ion-label slot="end">Plantation</ion-label>
    </ion-item>
    <ion-item >
      <ion-label position="fixed">Address</ion-label>
      <ion-label text-wrap slot="end">60, Jalan Sri Hartamas 1, Taman Sri Hartamas, 50480 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
