<ion-tabs>
  <ion-tab label="Dashboard" icon="speedometer" href="/tabs-employer/(employer-dashboard:employer-dashboard)">
    <ion-router-outlet name="employer-dashboard"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Payments" icon="cash" href="/tabs-employer/(employer-payment:employer-payment)">
    <ion-router-outlet name="employer-payment"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Staff" icon="people" href="/tabs-employer/(employer-staff:employer-staff)">
    <ion-router-outlet name="employer-staff"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Account" icon="lock" href="/tabs-employer/(employer-account:employer-account)">
    <ion-router-outlet name="employer-account"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
