<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()"><ion-icon slot="icon-only" name="exit"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">Personal Details</ion-item-divider>
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-label slot="end">Mukherji Ramon</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Phone</ion-label>
      <ion-label slot="end">019-3330099</ion-label>
    </ion-item>
    <ion-item >
      <ion-label position="fixed">Address</ion-label>
      <ion-label text-wrap slot="end">60, Jalan Sri Hartamas 1, Taman Sri Hartamas, 50480 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap position="fixed">Passport Number</ion-label>
      <ion-label slot="end">H00990032</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Nationality</ion-label>
      <ion-label slot="end">Myanmar</ion-label>
    </ion-item>
    <ion-item-divider color="light">Employment Details</ion-item-divider>
    <ion-item>
      <ion-label position="fixed">Employer</ion-label>
      <ion-label slot="end">ABC Sdn Bhd</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap position="fixed">Emp. Number</ion-label>
      <ion-label slot="end">00992222</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Designation</ion-label>
      <ion-label slot="end">Clerk</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Join Date</ion-label>
      <ion-label slot="end">20/9/2015</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
