<ion-header>
  <ion-toolbar>
    <ion-title>Staff</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-icon name="md-person" slot="start"></ion-icon>
      <ion-label>
        <h2>Ahmad Ali</h2>
        <h4>Clerk</h4>
        <p>Employee No.: 00999921</p>
      </ion-label>
      <div item-content slot="end">
        <h6>Active</h6>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="md-person" slot="start"></ion-icon>
      <ion-label>
        <h2>Sally John</h2>
        <h4>Admin</h4>
        <p>Employee No.: 9900239</p>
      </ion-label>
      <div item-content slot="end">
        <h6>Suspended</h6>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="md-person" slot="start"></ion-icon>
      <ion-label>
        <h2>Darren Matt</h2>
        <h4>Designer</h4>
        <p>Employee No.: 880021</p>
      </ion-label>
      <div item-content slot="end">
        <h6>Resigned</h6>
      </div>
    </ion-item>
  </ion-list>


</ion-content>
